<div class="container" style="width: 70%;">
    <table class="table table-striped table-hover" data-toggle="table">
        <thead>
        <tr>
            <th data-sortable="true">#</th>
            <th data-sortable="true">Title</th>
            <th data-sortable="true">Artist</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for recording in recordings %}
                <tr>
                    <td class="m">{{ recording.my_id }}</td>
                    <td>{{ recording.title }}</td>
                    <td>{{ recording["artist-credit-phrase"] }}</td>
                    <td class="m" style="text-align: center;">
                        {% if recording.add == True %}
                        <form action="/addSong" method="post">
                            <button class="btn" type="submit" name="add" value="{{ recording.id }}">Add</button>
                        </form>
                        {% else %}
                            <button class="btn" style="background-color: #C9A6F1; color:#fff" disabled>Added</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>